
<% if(usr){ %>
この内容でよろしいでしょうか？<br>

お名前:&nbsp;<%= usr %><br>

小計:&nbsp;<%= sub.toLocaleString() %> &nbsp;円 <br>
税:&nbsp;<%= Math.round(sub*0.08) %>&nbsp;円 <br>
合計:&nbsp;<%= Math.round(sub*1.08) %>&nbsp;円 <br>

    <% for(var i=0;i<mailtmp;i++) {%>
    sku:<%= mailtmp[i].sku %>
    <% } %>
    <% }else { %>
please log in.
    <% } %>

    <form method="post" action"/shop/aid/conf">
        <input type="hidden" name="usr" value="<%= usr %>">
        <button type="submit" class="btn btn-info">submit</button>
    </form>

